.crusader {
    width: 43px;
    height: 90px;
    background: transparent url(../sprites/crusader.png) -14px -22px no-repeat;
}

/* move the block to place under the unit foot */
.crusader:not(.opponent) {
    top: -88px;
    left: -15px;
}
.crusader.opponent {
    top: -88px;
    left: -24px;
}

/*------------------------- rest animation ------------------------------------------------------ */
.crusader.rest {
    -moz-animation-name: crusader-rest;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: step-end;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: infinite;
    
    -o-animation-name: crusader-rest;
    -o-animation-duration: 3s;
    -o-animation-timing-function: step-end;
    -o-animation-play-state: running;
    -o-animation-fill-mode: forwards;
    -o-animation-direction: normal;
    -o-animation-delay: 0;
    -o-animation-iteration-count: infinite;
    
    -webkit-animation-name: crusader-rest;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    
    animation-name: crusader-rest;
    animation-duration: 3s;
    animation-timing-function: step-end;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

.unit.crusader.rest.opponent {
    -moz-animation-name: crusader-opponent-rest;
    -o-animation-name: crusader-opponent-rest;
    -webkit-animation-name: crusader-opponent-rest;
    animation-name: crusader-opponent-rest;
 }

@-moz-keyframes crusader-rest {
    0% { width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
    56% {width: 44px; height: 96px; background-position: -80px -16px; margin-left: -1px; margin-top: -6px; }
    60% {width: 47px; height: 93px; background-position: -147px -19px; margin-left: -1px; margin-top: -3px; }
    64% {width: 51px; height: 91px; background-position: -210px -21px; margin-left: -1px; margin-top: -1px; }
    68% {width: 43px; height: 89px; background-position: -283px -23px; margin-left: 1px; margin-top: 1px; }
    72% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 1px; margin-top: 1px; }
    76% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 1px; margin-top: 1px; }
    80% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 1px; margin-top: 1px; }
    84% {width: 42px; height: 89px; background-position: -526px -23px; margin-left: 1px; margin-top: 1px; }
    88% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 1px; margin-top: 1px; }
    92% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 1px; margin-top: 1px; }
    96% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 1px; margin-top: 1px; }
    100% {width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
}

@-o-keyframes crusader-rest {
    0% { width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
    56% {width: 44px; height: 96px; background-position: -80px -16px; margin-left: -1px; margin-top: -6px; }
    60% {width: 47px; height: 93px; background-position: -147px -19px; margin-left: -1px; margin-top: -3px; }
    64% {width: 51px; height: 91px; background-position: -210px -21px; margin-left: -1px; margin-top: -1px; }
    68% {width: 43px; height: 89px; background-position: -283px -23px; margin-left: 1px; margin-top: 1px; }
    72% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 1px; margin-top: 1px; }
    76% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 1px; margin-top: 1px; }
    80% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 1px; margin-top: 1px; }
    84% {width: 42px; height: 89px; background-position: -526px -23px; margin-left: 1px; margin-top: 1px; }
    88% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 1px; margin-top: 1px; }
    92% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 1px; margin-top: 1px; }
    96% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 1px; margin-top: 1px; }
    100% {width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
}

@-webkit-keyframes crusader-rest {
    0% { width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
    56% {width: 44px; height: 96px; background-position: -80px -16px; margin-left: -1px; margin-top: -6px; }
    60% {width: 47px; height: 93px; background-position: -147px -19px; margin-left: -1px; margin-top: -3px; }
    64% {width: 51px; height: 91px; background-position: -210px -21px; margin-left: -1px; margin-top: -1px; }
    68% {width: 43px; height: 89px; background-position: -283px -23px; margin-left: 1px; margin-top: 1px; }
    72% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 1px; margin-top: 1px; }
    76% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 1px; margin-top: 1px; }
    80% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 1px; margin-top: 1px; }
    84% {width: 42px; height: 89px; background-position: -526px -23px; margin-left: 1px; margin-top: 1px; }
    88% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 1px; margin-top: 1px; }
    92% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 1px; margin-top: 1px; }
    96% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 1px; margin-top: 1px; }
    100% {width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
}

@keyframes crusader-rest {
    0% { width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
    56% {width: 44px; height: 96px; background-position: -80px -16px; margin-left: -1px; margin-top: -6px; }
    60% {width: 47px; height: 93px; background-position: -147px -19px; margin-left: -1px; margin-top: -3px; }
    64% {width: 51px; height: 91px; background-position: -210px -21px; margin-left: -1px; margin-top: -1px; }
    68% {width: 43px; height: 89px; background-position: -283px -23px; margin-left: 1px; margin-top: 1px; }
    72% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 1px; margin-top: 1px; }
    76% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 1px; margin-top: 1px; }
    80% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 1px; margin-top: 1px; }
    84% {width: 42px; height: 89px; background-position: -526px -23px; margin-left: 1px; margin-top: 1px; }
    88% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 1px; margin-top: 1px; }
    92% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 1px; margin-top: 1px; }
    96% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 1px; margin-top: 1px; }
    100% {width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
}


@-moz-keyframes crusader-opponent-rest {
    0% { width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
    56% {width: 44px; height: 96px; background-position: -80px -16px; margin-left: 0px; margin-top: -6px; }
    60% {width: 47px; height: 93px; background-position: -147px -19px; margin-left: -3px; margin-top: -3px; } 
    64% {width: 51px; height: 91px; background-position: -210px -21px; margin-left: -7px; margin-top: -1px; }
    68% {width: 43px; height: 89px; background-position: -283px -23px; margin-left: -1px; margin-top: 1px; }
    72% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 0px; margin-top: 1px; }
    76% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 0px; margin-top: 1px; }
    80% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 0px; margin-top: 1px; }
    84% {width: 42px; height: 89px; background-position: -526px -23px; margin-left: 0px; margin-top: 1px; }
    88% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 0px; margin-top: 1px; }
    92% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 0px; margin-top: 1px; }
    96% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 0px; margin-top: 1px; }
    100% {width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
}

@-o-keyframes crusader-opponent-rest {
    0% { width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
    56% {width: 44px; height: 96px; background-position: -80px -16px; margin-left: 0px; margin-top: -6px; }
    60% {width: 47px; height: 93px; background-position: -147px -19px; margin-left: -3px; margin-top: -3px; } 
    64% {width: 51px; height: 91px; background-position: -210px -21px; margin-left: -7px; margin-top: -1px; }
    68% {width: 43px; height: 89px; background-position: -283px -23px; margin-left: -1px; margin-top: 1px; }
    72% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 0px; margin-top: 1px; }
    76% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 0px; margin-top: 1px; }
    80% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 0px; margin-top: 1px; }
    84% {width: 42px; height: 89px; background-position: -526px -23px; margin-left: 0px; margin-top: 1px; }
    88% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 0px; margin-top: 1px; }
    92% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 0px; margin-top: 1px; }
    96% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 0px; margin-top: 1px; }
    100% {width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
}

@-webkit-keyframes crusader-opponent-rest {
    0% { width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
    56% {width: 44px; height: 96px; background-position: -80px -16px; margin-left: 0px; margin-top: -6px; }
    60% {width: 47px; height: 93px; background-position: -147px -19px; margin-left: -3px; margin-top: -3px; } 
    64% {width: 51px; height: 91px; background-position: -210px -21px; margin-left: -7px; margin-top: -1px; }
    68% {width: 43px; height: 89px; background-position: -283px -23px; margin-left: -1px; margin-top: 1px; }
    72% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 0px; margin-top: 1px; }
    76% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 0px; margin-top: 1px; }
    80% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 0px; margin-top: 1px; }
    84% {width: 42px; height: 89px; background-position: -526px -23px; margin-left: 0px; margin-top: 1px; }
    88% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 0px; margin-top: 1px; }
    92% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 0px; margin-top: 1px; }
    96% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 0px; margin-top: 1px; }
    100% {width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
}

@keyframes crusader-opponent-rest {
    0% { width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
    56% {width: 44px; height: 96px; background-position: -80px -16px; margin-left: 0px; margin-top: -6px; }
    60% {width: 47px; height: 93px; background-position: -147px -19px; margin-left: -3px; margin-top: -3px; } 
    64% {width: 51px; height: 91px; background-position: -210px -21px; margin-left: -7px; margin-top: -1px; }
    68% {width: 43px; height: 89px; background-position: -283px -23px; margin-left: -1px; margin-top: 1px; }
    72% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 0px; margin-top: 1px; }
    76% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 0px; margin-top: 1px; }
    80% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 0px; margin-top: 1px; }
    84% {width: 42px; height: 89px; background-position: -526px -23px; margin-left: 0px; margin-top: 1px; }
    88% {width: 42px; height: 89px; background-position: -467px -23px; margin-left: 0px; margin-top: 1px; }
    92% {width: 42px; height: 89px; background-position: -407px -23px; margin-left: 0px; margin-top: 1px; }
    96% {width: 42px; height: 89px; background-position: -345px -23px; margin-left: 0px; margin-top: 1px; }
    100% {width: 43px; height: 90px; background-position: -14px -22px; margin-left: 0px; margin-top: 0px; }
}


/*------------------------- walk animation ------------------------------------------------------ */
.crusader.walk {
    -moz-animation-name: crusader-walk;
    -moz-animation-duration: 0.8s;
    -moz-animation-timing-function: step-end;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: infinite;
    
    -o-animation-name: crusader-walk;
    -o-animation-duration: 0.8s;
    -o-animation-timing-function: step-end;
    -o-animation-play-state: running;
    -o-animation-fill-mode: forwards;
    -o-animation-direction: normal;
    -o-animation-delay: 0;
    -o-animation-iteration-count: infinite;
    
    -webkit-animation-name: crusader-walk;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    
    animation-name: crusader-walk;
    animation-duration: 0.8s;
    animation-timing-function: step-end;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

 .unit.crusader.walk.opponent {
    -moz-animation-name: crusader-opponent-walk;
    -o-animation-name: crusader-opponent-walk;
    -webkit-animation-name: crusader-opponent-walk;
    animation-name: crusader-opponent-walk;
 }
 
@-moz-keyframes crusader-walk {
    0%  {width: 50px; height: 100px; background-position: -30px -520px; margin-left: 1px; margin-top: -6px; }
    12% {width: 75px; height: 100px; background-position: -260px -520px; margin-left: -7px; margin-top: -4px; }
    24% {width: 70px; height: 100px; background-position: -345px -520px; margin-left: -9px; margin-top: -4px; }
    36% {width: 70px; height: 100px; background-position: -425px -520px; margin-left: -14px; margin-top: -4px; }
    48% {width: 70px; height: 100px; background-position: -500px -520px; margin-left: -19px; margin-top: -6px; }
    60% {width: 70px; height: 100px; background-position: -570px -520px; margin-left: -17px; margin-top: -7px; }
    72% {width: 70px; height: 100px; background-position: -640px -520px; margin-left: -12px; margin-top: -7px; }
    84% {width: 70px; height: 100px; background-position: -720px -520px; margin-left: -12px; margin-top: -7px; }
}

@-o-keyframes crusader-walk {
    0%  {width: 50px; height: 100px; background-position: -30px -520px; margin-left: 1px; margin-top: -6px; }
    12% {width: 75px; height: 100px; background-position: -260px -520px; margin-left: -7px; margin-top: -4px; }
    24% {width: 70px; height: 100px; background-position: -345px -520px; margin-left: -9px; margin-top: -4px; }
    36% {width: 70px; height: 100px; background-position: -425px -520px; margin-left: -14px; margin-top: -4px; }
    48% {width: 70px; height: 100px; background-position: -500px -520px; margin-left: -19px; margin-top: -6px; }
    60% {width: 70px; height: 100px; background-position: -570px -520px; margin-left: -17px; margin-top: -7px; }
    72% {width: 70px; height: 100px; background-position: -640px -520px; margin-left: -12px; margin-top: -7px; }
    84% {width: 70px; height: 100px; background-position: -720px -520px; margin-left: -12px; margin-top: -7px; }
}
 
@-webkit-keyframes crusader-walk {
    0%  {width: 50px; height: 100px; background-position: -30px -520px;  margin-left: 1px; margin-top: -6px; }
    12% {width: 75px; height: 100px; background-position: -260px -520px; margin-left: -7px; margin-top: -4px; }
    24% {width: 70px; height: 100px; background-position: -345px -520px; margin-left: -9px; margin-top: -4px; }
    36% {width: 70px; height: 100px; background-position: -425px -520px; margin-left: -14px; margin-top: -4px; }
    48% {width: 70px; height: 100px; background-position: -500px -520px; margin-left: -19px; margin-top: -6px; }
    60% {width: 70px; height: 100px; background-position: -570px -520px; margin-left: -17px; margin-top: -7px; }
    72% {width: 70px; height: 100px; background-position: -640px -520px; margin-left: -12px; margin-top: -7px; }
    84% {width: 70px; height: 100px; background-position: -720px -520px; margin-left: -10px; margin-top: -7px; }
}

@keyframes crusader-walk {
    0%  {width: 50px; height: 100px; background-position: -30px -520px; margin-left: 1px; margin-top: -6px; }
    12% {width: 75px; height: 100px; background-position: -260px -520px; margin-left: -7px; margin-top: -4px; }
    24% {width: 70px; height: 100px; background-position: -345px -520px; margin-left: -9px; margin-top: -4px; }
    36% {width: 70px; height: 100px; background-position: -425px -520px; margin-left: -14px; margin-top: -4px; }
    48% {width: 70px; height: 100px; background-position: -500px -520px; margin-left: -19px; margin-top: -6px; }
    60% {width: 70px; height: 100px; background-position: -570px -520px; margin-left: -17px; margin-top: -7px; }
    72% {width: 70px; height: 100px; background-position: -640px -520px; margin-left: -12px; margin-top: -7px; }
    84% {width: 70px; height: 100px; background-position: -720px -520px; margin-left: -12px; margin-top: -7px; }
}


@-moz-keyframes crusader-opponent-walk {
    0%  {width: 50px; height: 100px; background-position: -30px -520px; margin-left: -4px; margin-top: -6px; }
    12% {width: 75px; height: 100px; background-position: -260px -520px; margin-left: -23px; margin-top: -4px; }
    24% {width: 70px; height: 100px; background-position: -345px -520px; margin-left: -20px; margin-top: -4px; }
    36% {width: 70px; height: 100px; background-position: -425px -520px; margin-left: -14px; margin-top: -4px; }
    48% {width: 70px; height: 100px; background-position: -500px -520px; margin-left: -9px; margin-top: -6px; }
    60% {width: 70px; height: 100px; background-position: -570px -520px; margin-left: -10px; margin-top: -7px; }
    72% {width: 70px; height: 100px; background-position: -640px -520px; margin-left: -14px; margin-top: -7px; }
    84% {width: 70px; height: 100px; background-position: -720px -520px; margin-left: -14px; margin-top: -7px; }
}

@-o-keyframes crusader-opponent-walk {
    0%  {width: 50px; height: 100px; background-position: -30px -520px; margin-left: -4px; margin-top: -6px; }
    12% {width: 75px; height: 100px; background-position: -260px -520px; margin-left: -23px; margin-top: -4px; }
    24% {width: 70px; height: 100px; background-position: -345px -520px; margin-left: -20px; margin-top: -4px; }
    36% {width: 70px; height: 100px; background-position: -425px -520px; margin-left: -14px; margin-top: -4px; }
    48% {width: 70px; height: 100px; background-position: -500px -520px; margin-left: -9px; margin-top: -6px; }
    60% {width: 70px; height: 100px; background-position: -570px -520px; margin-left: -10px; margin-top: -7px; }
    72% {width: 70px; height: 100px; background-position: -640px -520px; margin-left: -14px; margin-top: -7px; }
    84% {width: 70px; height: 100px; background-position: -720px -520px; margin-left: -14px; margin-top: -7px; }
}

@-webkit-keyframes crusader-opponent-walk {
    0%  {width: 50px; height: 100px; background-position: -30px -520px; margin-left: -4px; margin-top: -6px; }
    12% {width: 75px; height: 100px; background-position: -260px -520px; margin-left: -23px; margin-top: -4px; }
    24% {width: 70px; height: 100px; background-position: -345px -520px; margin-left: -20px; margin-top: -4px; }
    36% {width: 70px; height: 100px; background-position: -425px -520px; margin-left: -14px; margin-top: -4px; }
    48% {width: 70px; height: 100px; background-position: -500px -520px; margin-left: -9px; margin-top: -6px; }
    60% {width: 70px; height: 100px; background-position: -570px -520px; margin-left: -10px; margin-top: -7px; }
    72% {width: 70px; height: 100px; background-position: -640px -520px; margin-left: -14px; margin-top: -7px; }
    84% {width: 70px; height: 100px; background-position: -720px -520px; margin-left: -14px; margin-top: -7px; }
}

@keyframes crusader-opponent-walk {
    0%  {width: 50px; height: 100px; background-position: -30px -520px; margin-left: -4px; margin-top: -6px; }
    12% {width: 75px; height: 100px; background-position: -260px -520px; margin-left: -23px; margin-top: -4px; }
    24% {width: 70px; height: 100px; background-position: -345px -520px; margin-left: -20px; margin-top: -4px; }
    36% {width: 70px; height: 100px; background-position: -425px -520px; margin-left: -14px; margin-top: -4px; }
    48% {width: 70px; height: 100px; background-position: -500px -520px; margin-left: -9px; margin-top: -6px; }
    60% {width: 70px; height: 100px; background-position: -570px -520px; margin-left: -10px; margin-top: -7px; }
    72% {width: 70px; height: 100px; background-position: -640px -520px; margin-left: -14px; margin-top: -7px; }
    84% {width: 70px; height: 100px; background-position: -720px -520px; margin-left: -14px; margin-top: -7px; }
}


/*------------------------- attack animation ---------------------------------------------------- */
.crusader.attack {
    -moz-animation-name: crusader-attack;
    -moz-animation-duration: 0.6s;
    -moz-animation-timing-function: step-end;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: 1;
    
    -o-animation-name: crusader-attack;
    -o-animation-duration: 0.6s;
    -o-animation-timing-function: step-end;
    -o-animation-play-state: running;
    -o-animation-fill-mode: forwards;
    -o-animation-direction: normal;
    -o-animation-delay: 0;
    -o-animation-iteration-count: 1;
    
    -webkit-animation-name: crusader-attack;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: 1;
    
    animation-name: crusader-attack;
    animation-duration: 0.6s;
    animation-timing-function: step-end;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
    animation-iteration-count: 1;
}

.unit.crusader.attack.opponent {
    -moz-animation-name: crusader-opponent-attack;
    -o-animation-name: crusader-opponent-attack;
    -webkit-animation-name: crusader-opponent-attack;
    animation-name: crusader-opponent-attack;
}
 
@-moz-keyframes crusader-attack {
    0%  {width: 60px; height: 100px; background-position: -18px -255px; margin-left: -14px; margin-top: -7px; }
    15% {width: 70px; height: 110px; background-position: -100px -240px; margin-left: -20px; margin-top: -22px; }
    30% {width: 70px; height: 110px; background-position: -190px -240px; margin-left: -16px; margin-top: -22px; }
    45% {width: 95px; height: 110px; background-position: -275px -255px; margin-left: 2px; margin-top: -7px; }
    60% {width: 95px; height: 110px; background-position: -385px -255px; margin-left: -2px; margin-top: -7px; }
    75% {width: 75px; height: 104px; background-position: -485px -255px; margin-left: -1px; margin-top: -7px; }
}

@-o-keyframes crusader-attack {
    0%  {width: 60px; height: 100px; background-position: -18px -255px; margin-left: -14px; margin-top: -7px; }
    15% {width: 70px; height: 110px; background-position: -100px -240px; margin-left: -20px; margin-top: -22px; }
    30% {width: 70px; height: 110px; background-position: -190px -240px; margin-left: -16px; margin-top: -22px; }
    45% {width: 95px; height: 110px; background-position: -275px -255px; margin-left: 2px; margin-top: -7px; }
    60% {width: 95px; height: 110px; background-position: -385px -255px; margin-left: -2px; margin-top: -7px; }
    75% {width: 75px; height: 104px; background-position: -485px -255px; margin-left: -1px; margin-top: -7px; }
}
 
@-webkit-keyframes crusader-attack {
    0%  {width: 60px; height: 100px; background-position: -18px -255px; margin-left: -14px; margin-top: -7px; }
    15% {width: 70px; height: 110px; background-position: -100px -240px; margin-left: -20px; margin-top: -22px; }
    30% {width: 70px; height: 110px; background-position: -190px -240px; margin-left: -16px; margin-top: -22px; }
    45% {width: 95px; height: 110px; background-position: -275px -255px; margin-left: 2px; margin-top: -7px; }
    60% {width: 95px; height: 110px; background-position: -385px -255px; margin-left: -2px; margin-top: -7px; }
    75% {width: 75px; height: 104px; background-position: -485px -255px; margin-left: -1px; margin-top: -7px; }
}

@keyframes crusader-attack {
    0%  {width: 60px; height: 100px; background-position: -18px -255px; margin-left: -14px; margin-top: -7px; }
    15% {width: 70px; height: 110px; background-position: -100px -240px; margin-left: -20px; margin-top: -22px; }
    30% {width: 70px; height: 110px; background-position: -190px -240px; margin-left: -16px; margin-top: -22px; }
    45% {width: 95px; height: 110px; background-position: -275px -255px; margin-left: 2px; margin-top: -7px; }
    60% {width: 95px; height: 110px; background-position: -385px -255px; margin-left: -2px; margin-top: -7px; }
    75% {width: 75px; height: 104px; background-position: -485px -255px; margin-left: -1px; margin-top: -7px; }
}


@-moz-keyframes crusader-opponent-attack {
    0%  {width: 60px; height: 100px; background-position: -18px -255px; margin-left: -3px; margin-top: -7px; }
    15% {width: 70px; height: 110px; background-position: -100px -240px; margin-left: -7px; margin-top: -22px; }
    30% {width: 70px; height: 110px; background-position: -190px -240px; margin-left: -12px; margin-top: -22px; }
    45% {width: 95px; height: 110px; background-position: -275px -255px; margin-left: -57px; margin-top: -7px; }
    60% {width: 95px; height: 110px; background-position: -385px -255px; margin-left: -53px; margin-top: -7px; }
    75% {width: 75px; height: 104px; background-position: -485px -255px; margin-left: -32px; margin-top: -7px; }
}

@-o-keyframes crusader-opponent-attack {
    0%  {width: 60px; height: 100px; background-position: -18px -255px; margin-left: -3px; margin-top: -7px; }
    15% {width: 70px; height: 110px; background-position: -100px -240px; margin-left: -7px; margin-top: -22px; }
    30% {width: 70px; height: 110px; background-position: -190px -240px; margin-left: -12px; margin-top: -22px; }
    45% {width: 95px; height: 110px; background-position: -275px -255px; margin-left: -57px; margin-top: -7px; }
    60% {width: 95px; height: 110px; background-position: -385px -255px; margin-left: -53px; margin-top: -7px; }
    75% {width: 75px; height: 104px; background-position: -485px -255px; margin-left: -32px; margin-top: -7px; }
}

@-webkit-keyframes crusader-opponent-attack {
    0%  {width: 60px; height: 100px; background-position: -18px -255px; margin-left: -3px; margin-top: -7px; }
    15% {width: 70px; height: 110px; background-position: -100px -240px; margin-left: -7px; margin-top: -22px; }
    30% {width: 70px; height: 110px; background-position: -190px -240px; margin-left: -12px; margin-top: -22px; }
    45% {width: 95px; height: 110px; background-position: -275px -255px; margin-left: -57px; margin-top: -7px; }
    60% {width: 95px; height: 110px; background-position: -385px -255px; margin-left: -53px; margin-top: -7px; }
    75% {width: 75px; height: 104px; background-position: -485px -255px; margin-left: -32px; margin-top: -7px; }
}

@keyframes crusader-opponent-attack {
    0%  {width: 60px; height: 100px; background-position: -18px -255px; margin-left: -3px; margin-top: -7px; }
    15% {width: 70px; height: 110px; background-position: -100px -240px; margin-left: -7px; margin-top: -22px; }
    30% {width: 70px; height: 110px; background-position: -190px -240px; margin-left: -12px; margin-top: -22px; }
    45% {width: 95px; height: 110px; background-position: -275px -255px; margin-left: -57px; margin-top: -7px; }
    60% {width: 95px; height: 110px; background-position: -385px -255px; margin-left: -53px; margin-top: -7px; }
    75% {width: 75px; height: 104px; background-position: -485px -255px; margin-left: -32px; margin-top: -7px; }
}


/*------------------------- defence animation ---------------------------------------------------- */
.crusader.defence {
    -moz-animation-name: crusader-defence;
    -moz-animation-duration: 0.6s;
    -moz-animation-timing-function: step-end;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0.3s;
    -moz-animation-iteration-count: 1;

    -o-animation-name: crusader-defence;
    -o-animation-duration: 0.6s;
    -o-animation-timing-function: step-end;
    -o-animation-play-state: running;
    -o-animation-fill-mode: forwards;
    -o-animation-direction: normal;
    -o-animation-delay: 0.3s;
    -o-animation-iteration-count: 1;

    -webkit-animation-name: crusader-defence;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0.3s;
    -webkit-animation-iteration-count: 1;

    animation-name: crusader-defence;
    animation-duration: 0.6s;
    animation-timing-function: step-end;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
}

.unit.crusader.defence.opponent {
    -moz-animation-name: crusader-opponent-defence;
    -o-animation-name: crusader-opponent-defence;
    -webkit-animation-name: crusader-opponent-defence;
    animation-name: crusader-opponent-defence;
}

@-moz-keyframes crusader-defence {
    0%  {width: 70px; height: 110px; background-position: -15px -650px; margin-left: -22px; margin-top: -16px; }
    15% {width: 95px; height: 100px; background-position: -95px -660px; margin-left: -52px; margin-top: -6px; }
    30% {width: 115px; height: 100px; background-position: -200px -660px; margin-left: -63px; margin-top: -6px; }
    45% {width: 115px; height: 100px; background-position: -320px -660px; margin-left: -48px; margin-top: -6px; }
    60% {width: 60px; height: 100px; background-position: -440px -660px; margin-left: -3px; margin-top: -6px; }
    75% {width: 60px; height: 100px; background-position: -515px -660px; margin-left: -2px; margin-top: -6px; }
}

@-o-keyframes crusader-defence {
    0%  {width: 70px; height: 110px; background-position: -15px -650px; margin-left: -22px; margin-top: -16px; }
    15% {width: 95px; height: 100px; background-position: -95px -660px; margin-left: -52px; margin-top: -6px; }
    30% {width: 115px; height: 100px; background-position: -200px -660px; margin-left: -63px; margin-top: -6px; }
    45% {width: 115px; height: 100px; background-position: -320px -660px; margin-left: -48px; margin-top: -6px; }
    60% {width: 60px; height: 100px; background-position: -440px -660px; margin-left: -3px; margin-top: -6px; }
    75% {width: 60px; height: 100px; background-position: -515px -660px; margin-left: -2px; margin-top: -6px; }
}

@-webkit-keyframes crusader-defence {
    0%  {width: 70px; height: 110px; background-position: -15px -650px; margin-left: -22px; margin-top: -16px; }
    15% {width: 95px; height: 100px; background-position: -95px -660px; margin-left: -52px; margin-top: -6px; }
    30% {width: 115px; height: 100px; background-position: -200px -660px; margin-left: -63px; margin-top: -6px; }
    45% {width: 115px; height: 100px; background-position: -320px -660px; margin-left: -48px; margin-top: -6px; }
    60% {width: 60px; height: 100px; background-position: -440px -660px; margin-left: -3px; margin-top: -6px; }
    75% {width: 60px; height: 100px; background-position: -515px -660px; margin-left: -2px; margin-top: -6px; }
}

@keyframes crusader-defence {
    0%  {width: 70px; height: 110px; background-position: -15px -650px; margin-left: -22px; margin-top: -16px; }
    15% {width: 95px; height: 100px; background-position: -95px -660px; margin-left: -52px; margin-top: -6px; }
    30% {width: 115px; height: 100px; background-position: -200px -660px; margin-left: -63px; margin-top: -6px; }
    45% {width: 115px; height: 100px; background-position: -320px -660px; margin-left: -48px; margin-top: -6px; }
    60% {width: 60px; height: 100px; background-position: -440px -660px; margin-left: -3px; margin-top: -6px; }
    75% {width: 60px; height: 100px; background-position: -515px -660px; margin-left: -2px; margin-top: -6px; }
}


@-moz-keyframes crusader-opponent-defence {
    0%  {width: 70px; height: 110px; background-position: -15px -650px; margin-left: -5px; margin-top: -16px; }
    15% {width: 95px; height: 100px; background-position: -95px -660px; margin-left: 0px; margin-top: -6px; }
    30% {width: 115px; height: 100px; background-position: -200px -660px; margin-left: -9px; margin-top: -6px; }
    45% {width: 115px; height: 100px; background-position: -320px -660px; margin-left: -23px; margin-top: -6px; }
    60% {width: 60px; height: 100px; background-position: -440px -660px; margin-left: -13px; margin-top: -6px; }
    75% {width: 60px; height: 100px; background-position: -515px -660px; margin-left: -15px; margin-top: -6px; }
}

@-o-keyframes crusader-opponent-defence {
    0%  {width: 70px; height: 110px; background-position: -15px -650px; margin-left: -5px; margin-top: -16px; }
    15% {width: 95px; height: 100px; background-position: -95px -660px; margin-left: 0px; margin-top: -6px; }
    30% {width: 115px; height: 100px; background-position: -200px -660px; margin-left: -9px; margin-top: -6px; }
    45% {width: 115px; height: 100px; background-position: -320px -660px; margin-left: -23px; margin-top: -6px; }
    60% {width: 60px; height: 100px; background-position: -440px -660px; margin-left: -13px; margin-top: -6px; }
    75% {width: 60px; height: 100px; background-position: -515px -660px; margin-left: -15px; margin-top: -6px; }
}

@-webkit-keyframes crusader-opponent-defence {
    0%  {width: 70px; height: 110px; background-position: -15px -650px; margin-left: -5px; margin-top: -16px; }
    15% {width: 95px; height: 100px; background-position: -95px -660px; margin-left: 0px; margin-top: -6px; }
    30% {width: 115px; height: 100px; background-position: -200px -660px; margin-left: -9px; margin-top: -6px; }
    45% {width: 115px; height: 100px; background-position: -320px -660px; margin-left: -23px; margin-top: -6px; }
    60% {width: 60px; height: 100px; background-position: -440px -660px; margin-left: -13px; margin-top: -6px; }
    75% {width: 60px; height: 100px; background-position: -515px -660px; margin-left: -15px; margin-top: -6px; }
}

@keyframes crusader-opponent-defence {
    0%  {width: 70px; height: 110px; background-position: -15px -650px; margin-left: -5px; margin-top: -16px; }
    15% {width: 95px; height: 100px; background-position: -95px -660px; margin-left: 0px; margin-top: -6px; }
    30% {width: 115px; height: 100px; background-position: -200px -660px; margin-left: -9px; margin-top: -6px; }
    45% {width: 115px; height: 100px; background-position: -320px -660px; margin-left: -23px; margin-top: -6px; }
    60% {width: 60px; height: 100px; background-position: -440px -660px; margin-left: -13px; margin-top: -6px; }
    75% {width: 60px; height: 100px; background-position: -515px -660px; margin-left: -15px; margin-top: -6px; }
}


/*------------------------- die animation ---------------------------------------------------- */
.crusader.die {
    -moz-animation-name: crusader-die;
    -moz-animation-duration: 0.4s;
    -moz-animation-timing-function: step-end;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0.3s;
    -moz-animation-iteration-count: 1;

    -o-animation-name: crusader-die;
    -o-animation-duration: 0.4s;
    -o-animation-timing-function: step-end;
    -o-animation-play-state: running;
    -o-animation-fill-mode: forwards;
    -o-animation-direction: normal;
    -o-animation-delay: 0.3s;
    -o-animation-iteration-count: 1;

    -webkit-animation-name: crusader-die;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0.3s;
    -webkit-animation-iteration-count: 1;

    animation-name: crusader-die;
    animation-duration: 0.4s;
    animation-timing-function: step-end;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
}

.unit.crusader.die.opponent {
    -moz-animation-name: crusader-opponent-die;
    -o-animation-name: crusader-opponent-die;
    -webkit-animation-name: crusader-opponent-die;
    animation-name: crusader-opponent-die;
 }

@-moz-keyframes crusader-die {
    0%  {width: 65px; height: 110px; background-position: -15px -790px; margin-left: -6px; margin-top: -13px; }
    20% {width: 80px; height: 110px; background-position: -100px -790px; margin-left: -26px; margin-top: -14px; }
    40% {width: 80px; height: 110px; background-position: -190px -790px; margin-left: -33px; margin-top: -13px; }
    60% {width: 80px; height: 110px; background-position: -280px -790px; margin-left: -33px; margin-top: -13px; }
    80% {width: 65px; height: 110px; background-position: -355px -790px; margin-left: -24px; margin-top: -10px; }
    100% {width: 50px; height: 50px; background-position: -430px -840px; margin-left: -10px; margin-top: 48px; }
}

@-o-keyframes crusader-die {
    0%  {width: 65px; height: 110px; background-position: -15px -790px; margin-left: -6px; margin-top: -13px; }
    20% {width: 80px; height: 110px; background-position: -100px -790px; margin-left: -26px; margin-top: -14px; }
    40% {width: 80px; height: 110px; background-position: -190px -790px; margin-left: -33px; margin-top: -13px; }
    60% {width: 80px; height: 110px; background-position: -280px -790px; margin-left: -33px; margin-top: -13px; }
    80% {width: 65px; height: 110px; background-position: -355px -790px; margin-left: -24px; margin-top: -10px; }
    100% {width: 50px; height: 50px; background-position: -430px -840px; margin-left: -10px; margin-top: 48px; }
}

@-webkit-keyframes crusader-die {
    0%  {width: 65px; height: 110px; background-position: -15px -790px; margin-left: -6px; margin-top: -13px; }
    20% {width: 80px; height: 110px; background-position: -100px -790px; margin-left: -26px; margin-top: -14px; }
    40% {width: 80px; height: 110px; background-position: -190px -790px; margin-left: -33px; margin-top: -13px; }
    60% {width: 80px; height: 110px; background-position: -280px -790px; margin-left: -33px; margin-top: -13px; }
    80% {width: 65px; height: 110px; background-position: -355px -790px; margin-left: -24px; margin-top: -10px; }
    100% {width: 50px; height: 50px; background-position: -430px -840px; margin-left: -10px; margin-top: 48px; }
}

@keyframes crusader-die {
    0%  {width: 65px; height: 110px; background-position: -15px -790px; margin-left: -6px; margin-top: -13px; }
    20% {width: 80px; height: 110px; background-position: -100px -790px; margin-left: -26px; margin-top: -14px; }
    40% {width: 80px; height: 110px; background-position: -190px -790px; margin-left: -33px; margin-top: -13px; }
    60% {width: 80px; height: 110px; background-position: -280px -790px; margin-left: -33px; margin-top: -13px; }
    80% {width: 65px; height: 110px; background-position: -355px -790px; margin-left: -24px; margin-top: -10px; }
    100% {width: 50px; height: 50px; background-position: -430px -840px; margin-left: -10px; margin-top: 48px; }
}


@-moz-keyframes crusader-opponent-die {
    0%  {width: 65px; height: 110px; background-position: -15px -790px; margin-left: -16px; margin-top: -13px; }
    20% {width: 80px; height: 110px; background-position: -100px -790px; margin-left: -10px; margin-top: -14px; }
    40% {width: 80px; height: 110px; background-position: -190px -790px; margin-left: 1px; margin-top: -13px; }
    60% {width: 80px; height: 110px; background-position: -280px -790px; margin-left: -4px; margin-top: -13px; }
    80% {width: 65px; height: 110px; background-position: -355px -790px; margin-left: 0px; margin-top: -10px; }
    100% {width: 50px; height: 50px; background-position: -430px -840px; margin-left: 2px; margin-top: 48px; }
}

@-o-keyframes crusader-opponent-die {
    0%  {width: 65px; height: 110px; background-position: -15px -790px; margin-left: -16px; margin-top: -13px; }
    20% {width: 80px; height: 110px; background-position: -100px -790px; margin-left: -10px; margin-top: -14px; }
    40% {width: 80px; height: 110px; background-position: -190px -790px; margin-left: 1px; margin-top: -13px; }
    60% {width: 80px; height: 110px; background-position: -280px -790px; margin-left: -4px; margin-top: -13px; }
    80% {width: 65px; height: 110px; background-position: -355px -790px; margin-left: 0px; margin-top: -10px; }
    100% {width: 50px; height: 50px; background-position: -430px -840px; margin-left: 2px; margin-top: 48px; }
}

@-webkit-keyframes crusader-opponent-die {
    0%  {width: 65px; height: 110px; background-position: -15px -790px; margin-left: -16px; margin-top: -13px; }
    20% {width: 80px; height: 110px; background-position: -100px -790px; margin-left: -10px; margin-top: -14px; }
    40% {width: 80px; height: 110px; background-position: -190px -790px; margin-left: 1px; margin-top: -13px; }
    60% {width: 80px; height: 110px; background-position: -280px -790px; margin-left: -4px; margin-top: -13px; }
    80% {width: 65px; height: 110px; background-position: -355px -790px; margin-left: 0px; margin-top: -10px; }
    100% {width: 50px; height: 50px; background-position: -430px -840px; margin-left: 2px; margin-top: 48px; }
}

@keyframes crusader-opponent-die {
    0%  {width: 65px; height: 110px; background-position: -15px -790px; margin-left: -16px; margin-top: -13px; }
    20% {width: 80px; height: 110px; background-position: -100px -790px; margin-left: -10px; margin-top: -14px; }
    40% {width: 80px; height: 110px; background-position: -190px -790px; margin-left: 1px; margin-top: -13px; }
    60% {width: 80px; height: 110px; background-position: -280px -790px; margin-left: -4px; margin-top: -13px; }
    80% {width: 65px; height: 110px; background-position: -355px -790px; margin-left: 0px; margin-top: -10px; }
    100% {width: 50px; height: 50px; background-position: -430px -840px; margin-left: 2px; margin-top: 48px; }
}
